name: CI

on:
  push:
    tags:
      - v**

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GitHub_TOKEN }}
      NODE_AUTH_TOKEN: ${{secrets.npm_token}}
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Install deps
        run: pnpm install

      - name: Build Packages
        run: pnpm build

      - name: Publish to NPM and sync to GitHub
        run: |
          pnpm -r publish --no-git-checks
          pnpx changelogithub
        env:
          NPM_CONFIG_PROVENANCE: true
